/*ALIGN ITEMS*/
@media screen {
    .align-items-center {
        align-items: center;
    }

    @media (max-width: 768px) {
        [data-tablet-align-items="flex-start"] {
            align-items: flex-start;
        }
    }
}

/*BACKDROP FILTER*/
@media screen {
    [data-backdrop-filter="blur(10px)"] {
        backdrop-filter: blur(10px);
    }
}

/*BACKGROUND COLOR*/
@media screen {
    .background-color-000 {
        background-color: #000;
    }

    .background-color-0096c7, [data-background-color="#0096c7"] {
        background-color: #0096c7;
    }

    .background-color-1a73e8 {
        background-color: #1a73e8;
    }

    .background-color-26 {
        background-color: #262626;
    }

    .background-color-777 {
        background-color: #777;
    }

    .background-color-32cd32, [data-background-color="#32cd32"] {
        background-color: #32cd32;
    }

    .background-color-ccc {
        background-color: #ccc;
    }

    .background-color-db {
        background-color: #dbdbdb;
    }

    .background-color-dbdcdd {
        background-color: #dbdcdd;
    }

    .background-color-f0 {
        background-color: #f0f0f0;
    }

    .background-color-ff3b30, [data-background-color="#ff3b30"] {
        background-color: #ff3b30;
    }

    .background-color-fff {
        background-color: #fff;
    }

    [data-background-color="rgba(0,0,0,0.5)"] {
        background-color: rgba(0,0,0,0.5);
    }

    [data-background-color="rgba(255,255,255,0.5)"] {
        background-color: rgba(255,255,255,0.5);
    }
}

/*BORDER*/
@media screen {
    .border-1px-solid {
        border: 1px solid;
    }

    .border-bottom-1px-solid {
        border-bottom: 1px solid;
    }

    .border-right-1px-solid {
        border-right: 1px solid;
    }
}

/*BORDER COLOR*/
@media screen {
    .border-color-1a73e8 {
        border-color: #1a73e8;
    }

    .border-color-dadce0 {
        border-color: #dadce0;
    }
}

/*BORDER RADIUS*/
@media screen {
    .border-radius-50pct, [data-border-radius="50%"] {
        border-radius: 50%;
    }

    .border-radius-5px {
        border-radius: 5px;
    }

    .border-radius-10px {
        border-radius: 10px;
    }

    .border-radius-15px {
        border-radius: 15px;
    }

    .border-radius-20px {
        border-radius: 20px;
    }

    .border-radius-50px {
        border-radius: 50px;
    }

    .border-top-left-radius-20px {
        border-top-left-radius: 20px;
    }

    .border-top-right-radius-20px {
        border-top-right-radius: 20px;
    }

    @media (max-width: 768px) {
        [data-tablet-background-color="#fff"] {
            background-color: #fff;
        }

        [data-tablet-border-radius="0"] {
            border-radius: 0;
        }

        [data-tablet-border-radius="10px"] {
            border-radius: 10px;
        }
    }
}

/*BOTTOM*/
@media screen {
    .bottom-0 {
        bottom: 0;
    }
    
    .bottom-20px {
        bottom: 20px;
    }

    @media (max-width: 768px) {
        [data-tablet-bottom="10px"] {
            bottom: 10px;
        }

        [data-tablet-bottom="20px"] {
            bottom: 20px;
        }
    }
}

/*BOX SHADOW*/
@media screen {
    .box-shadow-0-1px-6px-0, [data-box-shadow="0 1px 6px 0"] {
        box-shadow: 0 1px 6px 0;
    }

    [data-box-shadow="0 1px 4px -3px"] {
        box-shadow: 0 1px 4px -3px;
    }

    [data-box-shadow="0 0 2pc -10px"] {
        box-shadow: 0 0 2pc -10px;
    }

    [data-box-shadow="0 1px 3px rgb(60 64 67 / 15%), 0 1px 2px rgb(60 64 67 / 30%)"] {
        box-shadow: 0 1px 3px rgb(60 64 67 / 15%), 0 1px 2px rgb(60 64 67 / 30%);
    }

    [data-box-shadow="0 1px 6px rgb(32 33 36 / 28%)"] {
        box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    }
}

/*COLOR*/
@media screen {
    .color-000 {
        color: #000;
    }

    .color-1a73e8 {
        color: #1a73e8;
    }

    .color-26 {
        color: #262626;
    }

    .color-5f6368 {
        color: #5f6368;
    }

    .color-777 {
        color: #777;
    }

    .color-fff, [data-color="#fff"] {
        color: #fff;
    }

    .color-ff3b30 {
        color: #ff3b30;
    }

    .color-32cd32 {
        color: #32cd32;
    }

    .color-0096c7 {
        color: #0096c7;
    }

    .color-bbb {
        color: #bbb;
    }

    @media (max-width: 768px) {
        [data-tablet-color="#777"] {
            color: #777;
        }
    }
}

/*COLUMNS*/
@media screen {
    [data-columns] {
        display: grid;
    }

    [data-columns="4"] {
        grid-template-columns: repeat(4, 1fr);
    }

    [data-columns="2"] {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 960px) {
        [data-960px-columns="2"] {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 768px) {
        [data-tablet-columns="1"] {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

/*DISPLAY*/
@media screen {
    .display-flex {
        display: flex;
    }

    .display-inline-flex {
        display: inline-flex;
    }

    .display-none, [data-display="none"] {
        display: none;
    }

    body:not([data-uid]) .-noauth-display-none {
        display: none;
    }

    @media (max-width: 768px) {
        .-tablet-display-flex, [data-tablet-display="flex"] {
            display: flex;
        }

        .-tablet-display-none, [data-tablet-display="none"] {
            display: none;
        }

        body:not([data-uid]) .-tablet-noauth-display-flex {
            display: flex;
        }
    }
}

/*FLEX GROW*/
@media screen {
    .flex-direction-column {
        flex-direction: column;
    }
}

/*FLEX GROW*/
@media screen {
    .flex-grow-1 {
        flex-grow: 1;
    }
}

/*FONT FAMILY*/
@media screen {
    .font-family-courier-new, [data-font-family="Courier New"] {
        font-family: Courier New;
    }
}

/*FONT SIZE*/
@media screen {
    .font-size-9px {
        font-size: 9px;    
    }
    
    .font-size-13px {
        font-size: 13px;
    }

    .font-size-14px {
        font-size: 14px;
    }

    .font-size-18px {
        font-size: 18px;
    }

    .font-size-22px {
        font-size: 22px;
    }

    .font-size-24px {
        font-size: 24px;
    }

    .font-size-28px {
        font-size: 28px;
    }

    .font-size-30px {
        font-size: 30px;
    }

    .font-size-48px {
        font-size: 48px;
    }

    .font-size-60px {
        font-size: 60px;
    }

    @media (max-width: 768px) {
        [data-tablet-font-size="16px"] {
            font-size: 16px;
        }

        [data-tablet-font-size="30px"] {
            font-size: 30px;
        }
    }

    @media (max-width: 480px) {
        [data-mobile-font-size="calc((100vw - 20px)*0.06)"] {
            font-size: calc((100vw - 20px)*0.06);
        }
    }
}

/*FONT WEIGHT*/
@media screen {
    .font-weight-bolder {
        font-weight: bolder;
    }
}

/*HEIGHT*/
@media screen {
    .height-50pct {
        height: 50%;
    }

    .height-75pct {
        height: 75%;
    }

    .height-100pct, [data-height="100%"] {
        height: 100%;
    }

    .height-2px {
        height: 2px;
    }

    .height-10px {
        height: 10px;
    }

    .height-18px {
        height: 18px;
    }

    .height-20px {
        height: 20px;
    }

    .height-40px {
        height: 40px;
    }

    .height-50px, [data-height="50px"] {
        height: 50px;
    }

    .height-96px, [data-height="96px"] {
        height: 96px;
    }

    .height-120px, [data-height="120px"] {
        height: 120px;
    }

    .height-160px, [data-height="160px"] {
        height: 160px;
    }

    .height-240px, [data-height="240px"] {
        height: 240px;
    }

    .height-360px {
        height: 360px;
    }

    [data-height="calc(100% + 10px)"] {
        height: calc(100% + 10px);
    }

    [data-height="50%"] {
        height: 50%;
    }

    @media (max-width: 768px) {
        [data-tablet-height="360px"] {
            height: 360px;
        }

        [data-tablet-height="100%"] {
            height: 100%;
        }
    }
}

/*JUSTIFY CONTENT*/
@media screen {
    .justify-content-center {
        justify-content: center;
    }

    .justify-content-space-between {
        justify-content: space-between;
    }
}

/*LEFT*/
@media screen {
    [data-left="-5px"] {
        left: -5px;
    }

    .left-0 {
        left: 0;
    }
    
    .left-20px {
        left: 20px;
    }
}

/*LETTER SPACING*/
@media screen {
    .letter-spacing-2px {
        letter-spacing: 2px;
    }

    @media (max-width: 480px) {
        [data-mobile-letter-spacing="0.5vw"] {
            letter-spacing: 0.5vw;
        }
    }
}

/*LINE HEIGHT*/
@media screen {
    .line-height-18px {
        line-height: 18px;    
    }
    
    .line-height-36px {
        line-height: 36px;
    }

    .line-height-50px {
        line-height: 50px;
    }
}

/*MARGIN*/
@media screen {
    .margin-auto {
        margin: auto;
    }

    .margin-5px {
        margin: 5px;
    }

    .margin-10px {
        margin: 10px;
    }

    .margin-20px {
        margin: 10px;
    }

    .margin-bottom-10px {
        margin-bottom: 10px;
    }

    .margin-bottom-20px {
        margin-bottom: 20px;
    }

    .margin-bottom-30px {
        margin-bottom: 30px;
    }

    .margin-bottom-50px {
        margin-bottom: 50px;
    }

    .margin-left-10px {
        margin-left: 10px;
    }

    .margin-left-256px {
        margin-left: 256px;
    }

    .margin-left-auto {
        margin-left: auto;
    }

    .margin-right-5px {
        margin-right: 5px;
    }

    .margin-right-10px {
        margin-right: 10px;
    }

    .margin-right-20px {
        margin-right: 20px;
    }

    .margin-right-auto {
        margin-right: auto;
    }

    .margin-top-10px {
        margin-top: 10px;
    }

    .margin-top-20px {
        margin-top: 20px;
    }

    .margin-top-30px {
        margin-top: 30px;
    }

    .margin-top-36px {
        margin-top: 36px;
    }

    .margin-top-120px {
        margin-top: 120px;
    }

    .margin-top-auto {
        margin-top: auto;
    }

    .margin-x-10px {
        margin-left: 10px;
        margin-right: 10px;
    }

    .margin-x-20px {
        margin-left: 20px;
        margin-right: 20px;
    }

    .margin-x-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .margin-y-5px {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .margin-y-18px {
        margin-bottom: 18px;
        margin-top: 18px;
    }

    .margin-y-20px {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .margin-y-30px {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .margin-y-120px {
        margin-bottom: 120px;
        margin-top: 120px;
    }

    @media (max-width: 960px) {
        [data-960px-margin-left="0"] {
            margin-left: 0;
        }
    }

    @media (max-width: 768px) {
        [data-tablet-margin="0"] {
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
        }

        [data-tablet-margin-x="20px"] {
            margin-left: 20px;
            margin-right: 20px;
        }

        [data-tablet-margin-x="30px"] {
            margin-left: 30px;
            margin-right: 30px;
        }

        [data-tablet-margin-x="auto"] {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

/*MAX HEIGHT*/
@media screen {
    [data-max-height="calc(100% - 120px)"] {
        max-height: calc(100% - 120px);
    }
}

/*MIN HEIGHT*/
@media screen {
    .min-height-100pct {
        min-height: 100%;
    }

    .min-height-360px {
        min-height: 360px;
    }

    @media (max-width: 768px) {
        [data-tablet-min-height="auto"] {
            min-height: auto;
        }
    }
}

/*MIN WIDTH*/
@media screen {
    .min-width-50px {
        min-width: 50px;
    }
}

/*ORDER*/
@media screen {
    .order-2 {
        order: 2;
    }
}

/*OPACITY*/
@media screen {
    .opacity-50pct {
        opacity: 50%;
    }
}

/*OVERFLOW*/
@media screen {
    .overflow-hidden {
        overflow: hidden;
    }

    .overflow-x-hidden {
        overflow-x: hidden;
    }
}

/*PADDING*/
@media screen {
    .padding-top-50pct {
        padding-top: 50%;
    }

    .padding-top-63pct {
        padding-top: 63%;
    }

    .padding-10px {
        padding: 10px;
    }

    .padding-20px {
        padding: 20px;
    }

    .padding-bottom-10px {
        padding-bottom: 10px;
    }

    .padding-bottom-20px {
        padding-bottom: 20px;
    }

    .padding-bottom-30px {
        padding-bottom: 30px;
    }

    .margin-top-20px {
        margin-top: 20px;
    }

    .padding-left-5px {
        padding-left: 5px;
    }

    .padding-left-20px {
        padding-left: 20px;
    }

    .padding-right-5px {
        padding-right: 5px;
    }

    .padding-right-20px {
        padding-right: 20px;
    }

    .padding-top-20px {
        padding-top: 20px;
    }

    .padding-top-50px {
        padding-top: 50px;
    }

    .padding-top-70px {
        padding-top: 70px;
    }

    .padding-x-5px {
        padding-left: 5px;
        padding-right: 5px;
    }

    .padding-x-10px {
        padding-left: 10px;
        padding-right: 10px;
    }

    .padding-x-20px {
        padding-left: 20px;
        padding-right: 20px;
    }

    .padding-x-50px {
        padding-left: 50px;
        padding-right: 50px;
    }

    .padding-y-10px {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .padding-y-50px {
        padding-bottom: 50px;
        padding-top: 50px;
    }
}

/*POSITION*/
@media screen {
    .position-absolute {
        position: absolute;
    }

    .position-fixed {
        position: fixed;
    }

    .position-relative {
        position: relative;
    }

    @media (max-width: 768px) {
        .-tablet-position-fixed, [data-tablet-position="fixed"] {
            position: fixed;
        }
    }
}

/*RIGHT*/
@media screen {
    .right-0 {
        right: 0;
    }

    .right-10px {
        right: 10px;
    }

    .right-20px {
        right: 20px;
    }
}

/*TEXT ALIGN*/
@media screen {
    .text-align-center {
        text-align: center;
    }
}

/*TEXT ALIGN*/
@media screen {
    .text-transform-capitalize {
        text-transform: capitalize;
    }
}

/*TOP*/
@media screen {
    [data-top="-5px"] {
        top: -5px;
    }

    [data-top="-25px"] {
        top: -25px;
    }

    .top-0 {
        top: 0;
    }
}

/*TRANSFORM*/
@media screen {
    [data-transform="rotateY(0deg)"] {
        transform: rotateY(0deg);
    }

    [data-transform="rotateY(180deg)"] {
        transform: rotateY(180deg);
    }

    [data-transform="translateX(100%)"] {
        transform: translateX(100%);
    }

    [data-transform="translate3d(0,-50%,0)"] {
        transform: translate3d(0,-50%,0)        
    }

    @media (max-width: 960px) {
        [data-960px-transform="translateX(-100%)"] {
            transform: translateX(-100%);
        }
    }

    @media (max-width: 768px) {
        [data-tablet-transform="translateX(calc((-100%/3)*1))"] {
            transform: translateX(calc((-100%/3)*1));
        }

        [data-tablet-transform="translateX(calc((-100%/3)*2))"] {
            transform: translateX(calc((-100%/3)*2));
        }
    }
}

/*TRANSITION*/
@media screen {
    [data-transition="0.3s"] {
        transition: 0.3s;
    }

    [data-transition="0.3s all"] {
        transition: 0.3s all;
    }
}

/*WIDTH*/
@media screen {
    .width-50pct {
        width: 50%;
    }

    .width-75pct {
        width: 75%;
    }

    .width-100pct, [data-width="100%"] {
        width: 100%;
    }

    .width-20px, [data-width="20px"] {
        width: 20px;
    }

    .width-50px, [data-width="50px"] {
        width: 50px;
    }

    .width-96px, [data-width="96px"] {
        width: 96px;
    }

    .width-120px, [data-width="120px"] {
        width: 120px;
    }

    .width-160px, [data-width="160px"] {
        width: 160px;
    }

    .width-240px, [data-width="240px"] {
        width: 240px;
    }

    .width-256px {
        width: 256px;
    }

    .width-300px {
        width: 300px;
    }

    .width-425px {
        width: 425px;
    }

    [data-width="calc((100% - 10px)/2)"] {
        width: calc((100% - 10px)/2);
    }

    [data-width="calc(100% - 10px)"] {
        width: calc(100% - 10px);
    }

    [data-width="calc(100% - 20px)"] {
        width: calc(100% - 20px);
    }

    [data-width="calc(100% + 10px)"] {
        width: calc(100% + 10px);
    }

    [data-width="calc((100% - 100px)/2)"] {
        width: calc((100% - 25px)/2);
    }

    .width-100vw {
        width: 100vw;
    }

    @media (max-width: 768px) {
        [data-tablet-width="320px"] {
            width: 320px;
        }

        [data-tablet-width="100%"] {
            width: 100%;
        }

        [data-tablet-width="calc((100vw - 100px)/1)"] {
            width: calc((100vw - 100px)/1);
        }
    }
}

/*Z-INDEX*/
@media screen {
    .z-index-1 {
        z-index: 1;
    }

    .z-index-3 {
        z-index: 123;
    }

    .z-index-5 {
        z-index: 12345;
    }

    .z-index-9 {
        z-index: 123456789;
    }

    [data-z-index="-1"] {
        z-index: -1;
    }

    @media (max-width: 768px) {
        [data-tablet-z-index="7"] {
            z-index: 1234567;
        }
    }
}
