/*ALIGN ITEMS*/
@media screen {
    .align-items-center {
        align-items: center;
    }
}

/*BACKGROUND COLOR*/
@media screen {    
    .background-color-1a73e8 {
        background-color: #1a73e8;
    }

    .background-color-db {
        background-color: #dbdbdb;
    }

    .background-color-fff {
        background-color: #fff;
    }
    
    .background-color-ff3b30, [data-background-color="#ff3b30"] {
        background-color: #ff3b30;
    }
}

/*BORDER*/
@media screen {
    .border-1px-solid {
        border: 1px solid;
    }

    .border-bottom-1px-solid {
        border-bottom: 1px solid;
    }
}

/*BORDER COLOR*/
@media screen {
    .border-color-1a73e8 {
        border-color: #1a73e8;
    }

    .border-color-dadce0 {
        border-color: #dadce0;
    }
}

/*BORDER RADIUS*/
@media screen {
    .border-radius-50pct {
        border-radius: 50%;
    }

    .border-radius-50px {
        border-radius: 50px;
    }
}

/*BOTTOM*/
@media screen {
    .bottom-0 {
        bottom: 0;
    }
}

/*BOX SHADOW*/
@media screen {
    [data-box-shadow="0 0 2pc -10px"] {
        box-shadow: 0 0 2pc -10px;
    }
    
    [data-box-shadow="0 1px 3px rgb(60 64 67 / 15%), 0 1px 2px rgb(60 64 67 / 30%)"] {
        box-shadow: 0 1px 3px rgb(60 64 67 / 15%), 0 1px 2px rgb(60 64 67 / 30%);
    }
}

/*COLOR*/
@media screen {
    .color-000 {
        color: #000;
    }

    .color-1a73e8 {
        color: #1a73e8;
    }

    .color-5f6368 {
        color: #5f6368;
    }

    .color-777 {
        color: #777;
    }
    .color-fff, [data-color="#fff"] {
        color: #fff;
    }
}

/*COLUMNS*/
@media screen {
    [data-columns] {
        display: grid;
    }

    [data-columns="2"] {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*FLEX GROW*/
@media screen {
    .flex-grow-1 {
        flex-grow: 1;
    }
}

/*FONT SIZE*/
@media screen {
    .font-size-14px {
        font-size: 14px;
    }

    .font-size-18px {
        font-size: 18px;
    }

    .font-size-22px {
        font-size: 22px;
    }

    .font-size-24px {
        font-size: 24px;
    }

    .font-size-30px {
        font-size: 30px;
    }

    .font-size-48px {
        font-size: 48px;
    }
}

/*FONT WEIGHT*/
@media screen {
    .font-weight-bolder {
        font-weight: bolder;
    }
}

/*HEIGHT*/
@media screen {
    .height-75pct {
        height: 75%;
    }

    .height-100pct {
        height: 100%;
    }

    .height-2px {
        height: 2px;
    }

    .height-40px {
        height: 40px;
    }

    .height-50px, [data-height="50px"] {
        height: 50px;
    }
}

/*JUSTIFY CONTENT*/
@media screen {
    .justify-content-center {
        justify-content: center;    
    }
    
    .justify-content-space-between {
        justify-content: space-between;
    }
}

/*LEFT*/
@media screen {
    .left-0 {
        left: 0;
    }
}

/*LINE HEIGHT*/
@media screen {
    .line-height-50px {
        line-height: 50px;
    }
}

/*MARGIN*/
@media screen {
    .margin-auto {
        margin: auto;
    }

    .margin-bottom-30px {
        margin-bottom: 30px;
    }

    .margin-bottom-50px {
        margin-bottom: 50px; 
    }

    .margin-left-10px {
        margin-left: 10px;
    }

    .margin-left-256px {
        margin-left: 256px;
    }

    .margin-right-5px {
        margin-right: 5px;
    }

    .margin-right-10px {
        margin-right: 10px;
    }

    .margin-right-20px {
        margin-right: 20px;
    }

    .margin-right-auto {
        margin-right: auto;
    }

    .margin-top-120px {
        margin-top: 120px;
    }

    .margin-x-10px {
        margin-left: 10px;
        margin-right: 10px;
    }

    .margin-x-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .margin-y-5px {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .margin-y-18px {
        margin-bottom: 18px;
        margin-top: 18px;
    }
}

/*MIN HEIGHT*/
@media screen {
    .min-height-100pct {
        min-height: 100%;
    }
}

/*OVERFLOW*/
@media screen {
    .overflow-hidden {
        overflow: hidden;
    }
}

/*PADDING*/
@media screen {
    .padding-10px {
        padding: 10px;
    }

    .padding-left-5px {
        padding-left: 5px;
    }

    .padding-right-5px {
        padding-right: 5px;
    }

    .padding-right-20px {
        padding-right: 20px;
        s }

    .padding-top-20px {
        padding-top: 20px;
    }

    .padding-top-50px {
        padding-top: 50px;
    }

    .padding-top-70px {
        padding-top: 70px;
    }

    .padding-x-5px {
        padding-left: 5px;
        padding-right: 5px;
    }

    .padding-x-20px {
        padding-left: 20px;
        padding-right: 20px;
    }

    .padding-y-10px {
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

/*POSITION*/
@media screen {
    .position-absolute {
        position: absolute;
    }

    .position-fixed {
        position: fixed;
    }

    .position-relative {
        position: relative;
    }
}

/*RIGHT*/
@media screen {
    .right-0 {
        right: 0;
    }
}

/*TEXT ALIGN*/
@media screen {
    .text-align-center {
        text-align: center;
    }
}

/*TOP*/
@media screen {
    .top-0 {
        top: 0;
    }
}

/*WIDTH*/
@media screen {
    .width-50pct {
        width: 50%;
    }
    
    .width-75pct {
        width: 75%;
    }

    .width-100pct {
        width: 100%;
    }

    .width-50px, [data-width="50px"] {
        width: 50px;
    }

    .width-160px {
        width: 160px;
    }

    .width-256px {
        width: 256px;
    }

    .width-300px {
        width: 300px;
    }
}

/*Z-INDEX*/
@media screen {
    .z-index-3 {
        z-index: 123;
    }

    .z-index-5 {
        z-index: 12345;
    }

    .z-index-9 {
        z-index: 123456789;
    }
}
